#image-gallery {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.box {
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin:10px;
}

.image {
    width:  125px;
}

h1 {
    color: rgb(17, 16, 16);
    font-weight: 600;
    font-size: 1.5 em;
    text-align: center;
}

h3 {
    display:inline-block;
    color: rgba(20, 38, 35);
    font-weight: 600;
    font-size: .75em;
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
    text-align: center;

}

figure {
    text-align: center;
}

figcaption {
    font-size: .75em;
    font-style: italic;
    color:rgba(74, 91, 112);
}

a {
    font-weight: bold;
    font-size: 1.25em;
    color: #000000;
    text-decoration: none;
    padding: 20px;
    float: left;
}

a:hover {
    color: #0b0ead;
    text-decoration: underline;
}

a:visited {
    color: #db1414;
    text-decoration: underline;
}
